@import 'variables';

.toggle-btn {
  display: inline-block;
  outline: 0;
  width: 24px;
  height: 16px;
  position: relative;
  cursor: pointer;
  user-select: none;
  background: $neutral-darkest-transparent3;
  border-radius: 8px;
  padding: 0;
  transition: all 0.4s ease;
  border: 3px solid $transparent;
}
.toggle-btn::after {
  top: 0;
  left: 0;
  position: relative;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: $white;
  transition: all 0.2s ease-in;
}
.toggle-btn.toggle-btn-on::after {
  left: calc(50% - 1px);
}
.toggle-btn.toggle-btn-on {
  background: $primary;
}
