@import 'variables';

.cases-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 8px;
  span {
    color: $secondary;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  button {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: $secondary;
    outline: none;
    border: none;
  }
}
.loading-cases,
.no-cases {
  opacity: 0.5;
  font-size: 12px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
