@import 'variables';

.dev-tool-wrapper {
  display: flex;
  padding: 4px 0;
  align-items: center;
  user-select: none;
  justify-content: space-between;
  width: 100%;
}
button {
  background-color: $primary;
  color: $neutral-darkest;
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
  mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}
