$notifications-z-index: 999;
$modal-backdrop-z-index: 999;
$userbar-z-index: 1000;
$objects-toolbox-z-index: 400;
$navigation-buttons-z-index: 100;
$case-progress-stepper-z-index: 200;
$drag-and-drop-infobox-z-index: 901;
$dropzone-z-index: 902;
$sidebar-z-index: 1;
