@import 'variables';

.wrapper {
  width: 464px;
  padding: 32px;
}
.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $black;
}
.description {
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  color: $black-transparent5;
}
.field {
  margin-top: 14px;
  width: 100%;
  .field-title {
    color: $neutral-darkest;
    font-size: 14px;
    line-height: 18px;
  }
  .password-field-input {
    width: 100%;
    padding: 11px 12px 9px;
    font-size: 16px;
    line-height: 20px;
    color: $neutral-darkest;
    border: 1px solid $neutral-darkest-transparent3;
    border-radius: 5px;
  }
}
.delete-account-button-wrapper {
  margin-top: 16px;
}
